* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;   
  line-height: 1.5;          
  background-color: #E1DE8B; 
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FEFEFE;               
  padding: 1rem;            
}
.list-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}
.list1, .list2{
    flex: 1;
    padding: 1.5rem;
    background-color: #D6E398;
    border: 2px solid #393939;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
.intro-box{
    flex: 1;
    padding: 1.5rem;
    background-color: #F7D08A;
    border: 2px solid #393939;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
li{
    font-family:'Segoe UI', Tahoma;
    text-align: center;
    color: #ffffff;
}
h1{
    font-family:'Franklin Gothic Medium';
    text-align: center;
    background-color: #F7D08A;
    color: #320E3B;
    border: 2px solid;
    border-radius: 8px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #E56399;
}
.intro img{
    width: 100%;
}
h2{
    align-self: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: #E8E1EF;
    font-style: italic;
    background-color: #E56399;
    border: 2px dotted #FFFFEA;
}